---
# Main pages style
---

header.ui.menu {
	height: 4.0em;
	margin-bottom: 0;
	a.item	{
		height: 100%;
		padding-top: 0;
		padding-bottom: 0;
		img:not(.ui) {
			margin-top: .1em;
			margin-right: .8em;
			width: inherit;
			height: 80%;
		}
	}

}
